@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 50%; margin: auto;">
    <h1 class="display-4">Bem vindo ao gestor de funcionários</h1>
    <p>Veja os aniversariantes do mês clicando <a href="/BirthdayOfTheMonth">aqui</a>!.</p>
</div>
